@model IEnumerable<Customer.Models.Entities.Customers>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Customers</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <thead style="background-color:lightslategray;border-bottom:dashed;">
    <th>@Html.DisplayNameFor(model => model.CustomerID)</th>
    <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
    <th>@Html.DisplayNameFor(model => model.CustomerNumber)</th>
    <th>@Html.DisplayNameFor(model => model.CustomerAddress)</th>
    <th>@Html.DisplayNameFor(model => model.CustomerPhone)</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style=" background-color:lightslategray;border-bottom:dashed;">
                <td>@Html.DisplayFor(model => item.CustomerID)</td>
                <td>@Html.DisplayFor(model => item.CustomerName)</td>
                <td>@Html.DisplayFor(model => item.CustomerNumber)</td>
                <td>@Html.DisplayFor(model => item.CustomerAddress)</td>
                <td>@Html.DisplayFor(model => item.CustomerPhone)</td>
                <td>
                    @Html.ActionLink("Update", "Update", new { customerID = item.CustomerID })
                    @Html.ActionLink("Delete", "Delete", new { customerID = item.CustomerID })
                </td>
            </tr>
        }
    </tbody>
</table>